<html>
    <head>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <form method="POST" action="/login" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            
              <label for="username">Username</label><br>
              <input id="username" name="username" required size="32" type="text" value="">
              <label for="password">Password</label><br>
              <input id="password" name="password" required size="32" type="password" value="">
          
            <input id="remember_me" name="remember_me" type="checkbox" value="y"> <label for="remember_me">Remember Me</label>
            <input id="submit" name="submit" type="submit" value="Sign In">
          </form>  
          {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

          
    </body>
</html>